// colors
$white-color: #ffffff;
$dark-pink-color:#CE3471;
$pink-color: #FF93B1;
$yellow-color: #FFE979;
$dark-yellow-color: #FFB826;

// font
$font-size: 12px;
$font-color: rgb(48, 48, 48);

// shadow
$shadow-props: 0px 0px 0.5vw $dark-pink-color;
