@import "./../../../../assets/scss/variables";

.validator {
  font-size: 12px;
  width: 200px;
  padding: 0 3px;
  color: $dark-pink-color;

  &__password {
    color: $dark-gray-color;
    &-success {
      color: $dark-yellow-color;
    }
  }
}
