@if (config) {
  <form [formGroup]="formGroup" class="d-flex flex-column">
    @for (ctrl of config; track $index) {
      @switch (ctrl.type) {
        @case ("input") {
          <app-input-field
            [formControlName]="ctrl.formControlName"
            [placeholder]="ctrl.placeholder"
          />
          <app-validator [control]="formGroup.get(ctrl.formControlName)"/>
        }
        @default {}
      }
    }

    <app-button
      [disabled]="formGroup.invalid"
      (btnClicked)="onSubmit()"
      class="d-flex flex-column"
    >
      {{ submitTitle }}
    </app-button>
  </form>
}
