@import "./../assets/scss/variables";
@import "./../assets/scss/icons";

%centered_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: $dark-yellow-color;

  &__header {
    @extend %centered_container;
    margin: 50px 0;
  }

  &__content {
    @extend %centered_container;
  }

  &__home-icon {
    position: absolute;
    top: 30px;
    left: 30px;
    @extend %icon_container;
  }

  &__lang-icon {
    position: absolute;
    top: 30px;
    left: calc(30px + $icon-size);
    @extend %icon_container;
  }

  &__title {
    @extend %title-font;
  }

  &__image {
    width: 30px;
    height: 30px;
    margin-bottom: 0.5rem;
  }
}

.beehive {
  background-color: rgba($white-color, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;

  &__image {
    width: 120px;
    height: 120px;
  }
}

.bee {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1002;
  animation-name: centered;
  animation-duration: 2s;
  animation-delay: 0;
}

@keyframes centered {
  0%,
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: calc(50vh);
    left: calc(50vw - 7px);
    width: 15px;
    height: 15px;
  }
}
