@import "../../../assets/scss/variables";

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 450px;

  &__content {
    background-color: $white-color;
    padding: 2rem;
    border-radius: 2rem;
  }

  &__title {
    @extend %title-font;
  }
}
