@import "./../../../assets/scss/variables";

.beehive {
  position: absolute;
  top: calc(50vh - 40px);
  left: calc(50vw - 40px);
  width: 80px;
  height: 80px;
  z-index: 2;
  filter: drop-shadow(5px 5px 0px rgba(0, 0, 0, 0.15));
}

.bee {
  opacity: 0;
  position: absolute;
  z-index: 3;
  animation-name: centered;
  animation-duration: 1s;
  filter: drop-shadow(5px 5px 0px rgba(0, 0, 0, 0.15));
}

@keyframes centered {
  0%,
  95% {
    opacity: 1;
  }
  100% {
    filter: drop-shadow(0rem 0px 0px rgba(0, 0, 0, 0.15));
    opacity: 0;
    top: calc(50vh);
    left: calc(50vw - 7px);
    width: 15px;
    height: 15px;
  }
}
