@if (task) {
  <div class="dialog-container"></div>

  <div class="dialog">
    <div class="dialog__header">
      <span>{{ "EDIT" | translate | uppercase }}</span>
      <mat-icon class="dialog__header-icon" (click)="closeModal('CLOSE')">
        close
      </mat-icon>
    </div>

    <form class="task" [formGroup]="form">
      <span class="task__title">
        <input type="text" formControlName="title" />
      </span>

      <span class="task__user">
        <input type="text" formControlName="fullName" />
      </span>

      <span class="task__date">
        <input type="text" formControlName="updatedAt" />
      </span>

      <span class="task__description">
        <textarea formControlName="description"></textarea>
      </span>
    </form>

    <div class="dialog__buttons">
      <app-button (click)="closeModal('DELETE')">{{
        "DELETE" | translate
      }}</app-button>
      <app-button (click)="closeModal('EDIT')">{{
        "SAVE" | translate
      }}</app-button>
    </div>
  </div>
}
