@import "./../../../assets/scss/variables";
@import "./../../../assets/scss/icons";

.dialog-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
}

.dialog {
  position: absolute;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white-color;
  border-radius: 22px;
  padding: 20px;

  &__header {
    font-weight: bold;
    display: flex;
    justify-content: space-between;

    &-icon {
      cursor: pointer;
      @extend %icon_container;
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  textarea,
  input {
    border: none;
    background-color: transparent;
    outline: none;
    width: 100%;
  }
}

.task {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 22px 22px 1fr;
  background-color: $gray-color;
  padding: 20px;
  border-radius: 4px;

  &__placeholder {
    font-style: italic;
  }
  &__title {
    grid-area: 1 / 1 / 3 / 2;
    font-weight: bold;
  }
  &__user {
    grid-area: 1 / 2 / 2 / 3;
    text-align: right;
    font-weight: bold;
    color: $dark-yellow-color;
  }
  &__date {
    font-style: italic;
    grid-area: 2 / 2 / 3 / 3;
    text-align: right;
  }
  &__description {
    grid-area: 3 / 1 / 4 / 3;
  }
}
