@import "./../../../assets/scss/variables";
@import "./../../../assets/scss/icons";

$icon-size: 20px;
%item {
  background-color: $gray-color;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
}

.list {
  background-color: $white-color;
  border-radius: 22px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  width: 350px;
  padding: 20px;

  &__icon {
    @extend %icon_container;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    height: calc(100% - 32px);
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-task {
      @extend %item;
    }
    
    &-add {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 6px;
      box-sizing: border-box;
      border-radius: 4px;
      border: 2px dashed $dark-yellow-color;
    }
  }
}
